<div class="container">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      Admissions@CSE.IITK
    </a>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="/faq.html" title="Frequently asked questions">FAQs</a></li>
    <li><a href="/travel" title="Reaching IIT Kanpur">Reaching IITK</a></li>
    <li><a href="/contact" title="Contact Us">Contact Us</a></li>
    <li><a href="https://github.com/cseAtIITK/admissions-website"><i class="fa fa-code-fork"></i>Fork me</a></li>
    <li><a href="/atom.xml" title="Follow us"><i class="fa fa-rss"></i></a></li>
  </ul>
</div>


