---
title: PG Admissions: Screening test results.
---

The results of the screening test *will be* available from
here. Please check this link at about 14:00 hrs.

<!--more-->

## M.Tech

Will be up at about 14:00 hrs on 9th May 2015

## Ph.D 

Will be up at about 14:00 hrs on 9th May 2015
