---
title: PG Admissions: Screening test results.
---

The results of the screening test is now available.

<!--more-->

## M.Tech

Few candidates who have done exceptionally well in our test have been
given direct offers. From the rest we have shortlisted few for
interview. Here are the lists.

### M.Tech Direct offers.

| Name                    | RollNo | Application number |
|-------------------------+--------+--------------------|
| Abhilash Tekchand Gaure | MT004  | CSE-2936           |
| Amit Nagarkoti          | MT039  | CSE-3312           |
| Davinder Singh          | MT124  | CSE-464            |
| Debjeet Majumdar        | MT127  | CSE-2055           |
| Devendra Kumar Luna     | MT132  | CSE-10881          |
| Donthu Vamsi Krishna    | MT139  | CSE-3309           |
| Gangurde Mayuri Laxman  | MT144  | CSE-2539           |
| Gaurav Mamgain          | MT146  | CSE-651            |
| Krishnaprasad P         | MT207  | CSE-7962           |
| Naman Jain              | MT252  | CSE-4402           |
| Nivia Jatain            | MT278  | CSE-4780           |
| Piyush Kumar            | MT296  | CSE-5471           |
| Poonam Kashyap          | MT298  | CSE-514            |
| Rajendra Kumar          | MT357  | CSE-1533           |
| Safal Pandita           | MT388  | CSE-2725           |
| Samiran Roy             | MT397  | CSE-9562           |
| Suraj Tripathi          | MT469  | CSE-1174           |
| Utsav Singh             | MT491  | CSE-2887           |
| Vijay Pal Jat           | MT502  | CSE-7308           |



### M.Tech candidates called for interview

| Name                       | Roll no | Application number |
|----------------------------+---------+--------------------|
| Aakash Paul                | MT003   | CSE-3748           |
| Abhishek Rose              | MT011   | CSE-5115           |
| Abhishek Sharma            | MT013   | CSE-1327           |
| Abhishek Vamanrao Ghogare  | MT014   | CSE-4314           |
| Aman Bhardwaj              | MT035   | CSE-4817           |
| Ankit Veer Singh           | MT052   | CSE-7931           |
| Ankur                      | MT056   | CSE-6459           |
| Anurag Bamal               | MT065   | CSE-10199          |
| Ashish Dwivedi             | MT076   | CSE-5110           |
| Ashutosh Priyadarshi       | MT081   | CSE-12861          |
| Avinash Rajaram Lokhande   | MT086   | CSE-7182           |
| Bokade Swapnil Rajendra    | MT111   | CSE-4583           |
| Boppena Nagaraju           | MT112   | CSE-3883           |
| Chandan Kumar Pandey       | MT114   | CSE-2754           |
| Chigullapally Sriharsha    | MT117   | CSE-679            |
| Chirag Sodani              | MT119   | CSE-3531           |
| Lalchand Pandia            | MT213   | CSE-4161           |
| Mani Prakash               | MT230   | CSE-743            |
| Mehtab Husain Danish       | MT237   | CSE-7909           |
| Mridul Goel                | MT246   | CSE-7703           |
| Neha Saini                 | MT258   | CSE-2520           |
| Nishant Shekhar            | MT268   | CSE-7010           |
| Nishit Majithia            | MT269   | CSE-733            |
| Prabuddha Chakraborty      | MT300   | CSE-2550           |
| Pranav Bisht               | MT308   | CSE-1443           |
| Pranjul Ahuja              | MT311   | CSE-13958          |
| Puneet Sharma              | MT339   | CSE-2694           |
| Rakshit Sharma             | MT362   | CSE-6444           |
| Richa Singh                | MT369   | CSE-7751           |
| Rishabh Singh              | MT374   | CSE-883            |
| Rohit Sehgal               | MT381   | CSE-2943           |
| Sabreen Syed               | MT386   | CSE-14036          |
| Samik Some                 | MT396   | CSE-8712           |
| Saurabh Kumar Gupta        | MT407   | CSE-7005           |
| Saurabh Rajendra Khatavkar | MT408   | CSE-2541           |
| Shashank Singh             | MT418   | CSE-4377           |
| Shobhit Sengar             | MT426   | CSE-4001           |
| Siddharth Saklecha         | MT436   | CSE-1954           |
| Sonali Saha                | MT445   | CSE-2202           |
| Srishti Agrawal            | MT454   | CSE-2644           |
| Suneel Kumar Rahul         | MT464   | CSE-12484          |
| Swapnil Gangadhar Mhamane  | MT474   | CSE-13394          |
| Thummar Denish Manharlal   | MT484   | CSE-11269          |
| Vadaliya Kishan Amrutlal   | MT493   | CSE-156            |
| Venkatnarayan              | MT498   | CSE-577            |
| Yogesh Singh               | MT530   | CSE-434            |
| Yuvraj Verma               | MT531   | CSE-4570           |


  

# Phd Candidates called for interview.


| name                    | rollNo | appNo     |
|-------------------------+--------+-----------|
| Anoop Kumar Sonkar      | PH018  | CSE-9110  |
| Mahendra Gupta          | PH072  | CSE-8562  |
| Nikhil Gupta            | PH087  | CSE-8093  |
| Patchigolla V S S Rahul | PH089  | CSE-5321  |
| Prabuddha Chakraborty   | PH092  | CSE-6995  |
| Pranav Bisht            | PH094  | CSE-6575  |
| Sumitro Bhaumik         | PH150  | CSE-14142 |
| Yogesh Singh            | PH165  | CSE-12208 |


